body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.survey-section {
    display: none; /* Ocultar todas las secciones al cargar la página */
    margin-bottom: 20px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input[type="text"],
form input[type="date"],
form input[type="tel"],
form input[type="email"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

form input[type="submit"] {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
}

p {
    font-size: 18px;
}

form input[type="radio"] {
    margin: 0 5px;
}
